.footer__container {
  width: 1050px;
  height: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  color: gray;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
}
